.roll {
    margin-bottom: 40px;
}

.latest-news {
    width: 70%;
    margin: 0 auto;
}

.newsfeed-caption h4 a {
    color: black;
}

a.news-link:hover {
    color: rgb(233, 87, 19);
}

.card-img-top {
    margin-bottom: 2%;
}

.card {
    margin-bottom: 4%;
    border: none;
}

@media(min-width: 769px) {
    img.latest-right {
        width: 150px;
    }
}

@media(min-width: 1024px) {
    img.latest-bottom {
        height: 150px;
    }
}

.card-body h4 a {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

span.color3.tag {
    color: #000;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    padding: 10px 15px;
    line-height: 1;
    margin-bottom: 15px;
    display: inline-block
}

.card-body h4 a:hover {
    color: rgb(233, 87, 19);
}


/* Track */


/* Handle */

img#telegram-img,
img#instagram-img {
    width: 1.8rem;
}

div.footer-area.footer-padding.fix {
    padding: 0;
}

@media(min-width: 768px) {
    img.card-img-top#feed-img {
        height: 215px;
    }
}